@using Nop.Core;

@inject QuickViewSettings quickViewSettings;
@inject IWorkContext workContext;

@{
    var themeFolder = await ThemeHelper.GetPluginThemeAsync(Plugin.FolderName);

    <link rel="stylesheet" href="~/Plugins/SevenSpikes.Nop.Plugins.QuickView/Themes/@themeFolder/Content/QuickView.css" />

    var supportRtl = (await workContext.GetWorkingLanguageAsync()).Rtl;
    if (supportRtl)
    {
        <link rel="stylesheet" href="~/Plugins/SevenSpikes.Nop.Plugins.QuickView/Themes/@themeFolder/Content/QuickView.rtl.css" />

    }

    <link rel="stylesheet" href="~/lib_npm/filepond/filepond.min.css" />
    <link rel="stylesheet" href="~/lib_npm/filepond-plugin-get-file/filepond-plugin-get-file.min.css" />

    NopHtml.AppendScriptParts(ResourceLocation.Footer, $"~/Plugins/SevenSpikes.Core/Scripts/lib/kendo/2024.1.130/js/kendo.public.min.js");
    

    <script asp-exclude-from-bundle="true" src="~/lib_npm/filepond/filepond.min.js" asp-location="Footer"></script>
    <script asp-exclude-from-bundle="true" src="~/lib_npm/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js" asp-location="Footer"></script>
    <script asp-exclude-from-bundle="true" src="~/lib_npm/filepond-plugin-get-file/filepond-plugin-get-file.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.core.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Core/Scripts/jquery.json-2.4.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Nop.Plugins.QuickView/Scripts/QuickView.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Core/Scripts/cloudzoom.core.min.js" asp-location="Footer"></script>
}

<div class="quickViewData" data-productselector="@quickViewSettings.ProductItemSelector"
     data-productselectorchild="@quickViewSettings.ProductItemSelectorChild"
     data-retrievequickviewurl="@Url.RouteUrl("QuickViewData")"
     data-quickviewbuttontext="@T("SevenSpikes.QuickView.Admin.Settings.QuickViewButtonText")"
     data-quickviewbuttontitle="@T("SevenSpikes.QuickView.Admin.Settings.QuickViewButtonTitle")"
     data-isquickviewpopupdraggable="@quickViewSettings.MakeQuickViewPopupDraggable"
     data-enablequickviewpopupoverlay="@quickViewSettings.EnableQuickViewPopupOverlay"
     data-accordionpanelsheightstyle="@quickViewSettings.AccordionPanelsHeightStyle"
     data-getquickviewbuttonroute="@Url.RouteUrl("QuickViewButton")">
</div>